@-webkit-keyframes sprite-animation {
  from {
    background-position: 0 0;
  }
}
@keyframes sprite-animation {
  from {
    background-position: 0 0;
  }
}
/*
* @package      Shortcodes
* @description  This package holds style declarations for
*               shortcodes page
*/
/*
 * @subsection   Icon Box
 */
.icon-box {
  position: relative;
  padding: 10px 20px 10px 55px;
  transition: .3s all ease;
  border-radius: 5px;
}

.icon-box:hover {
  color: #fff;
  background: #2b93d9;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
}

.icon-box:before {
  position: absolute;
  left: 20px;
  font-size: 1.4em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.btn {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.bg-primary .btn-default {
  border-color: #fff;
  border-width: 2px;
}

* + h4 {
  margin-top: 65px;
}

* + .container {
  margin-top: 65px;
}

* + .inline-list {
  margin-top: 35px;
}

* + .responsive-tabs {
  margin-top: 40px;
}
