/* camera.scss
=========================================================*/
/*================   Custom Layout&Styles   =====================*/
.camera_caption [class*="grid_"] {
  color: #fff;
  /* background:#003d8f;*/
  width:auto;
  padding-left: 15px;
  padding-right: 15px;
  float: center;
  line-height: 45px;
  /*
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 3px 3px 5px #222;
  -moz-box-shadow: 3px 3px 5px #222;
  box-shadow: 5px 5px 7px #111;
  text-shadow: 2px 2px 1px #444;
  */
}
.opac {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.opac:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.camera_next,
.camera_prev {
  color: #003d8f;
}
.camera_next:hover,
.camera_prev:hover {
  color: #888;
}
p.row2 {
  margin-top: 10px;
  margin-left: 14px;
  color: #003d8f;
  font-size: 24px;
}


/* google-map.scss
=========================================================*/
/* owl-carousel.scss
=========================================================*/
@-webkit-keyframes fadeOut {}
.owl-carousel {
  background: whitesmoke;
}

.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #007dca;
}

/* style.scss
=========================================================*/
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #003d8f;
}
.white
{
	color:#ffffff;
}
hr {
  background: #e5e5e5;
}

.hr {
  border-bottom: 3px solid #003d8f;
}

.brand_name {
  color: #003d8f;
}

.bg-primary {
  background: #003d8f;
}
.bg-primary .icon {
  color: #003d8f;
}
.bg-primary .product-list hr {
  border-bottom: 0;
}

.bg-secondary {
  background: whitesmoke;
}

.bg-gruen {
  background: #99cc33;
}
.bg-grau {
  background: #cccccc;
}


.icon {
  background: #003d8f;
}

.icon2 {
  color: #003d8f;
  background: #eaeaea;
}

.btn:hover,
.btn_rechts:hover,
.btn_rechts_datenschutz:hover,
.btn2:hover {
  background: #01609d;
}
.btn:active,
.btn_rechts:active,
.btn_rechts_datenschutz:active,
.btn2:active ,
.btn3:active{
  background: #01416a;
}

.btn, .btn_rechts, .btn_rechts_datenschutz, .btn3 {
  background: #003d8f;
}

.btn2 {
  color: #003d8f;
  background: #eaeaea;
}

.btn_rechts {
float:right;
}

.btn_rechts_datenschutz {
float:right;
margin-right:65px;
}

.btn4 {
  width: auto;
  line-height: 8px;
  font-size: 14px;
  color: #003d8f;
  background: #fff;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #003d8f #003d8f #003d8f #003d8f;
}

.banner li {
  background: #003d8f;
}
.banner li.hell {
  background: #e4edf6;
}

.banner li:nth-child(1) {
  background: #003d8f;
}
.banner li:nth-child(2) {
  background: #065e97;
}
.banner li:nth-child(3) {
  background: #003d8f;
}

.product-list li .box:hover .icon {
  background: #01609d;
}

blockquote q:before {
  color: #003d8f;
}
blockquote cite {
  color: #003d8f;
}

.marked-list li {
  color: #003d8f;
}
.marked-list li + li {
  border-top: 1px solid #e5e5e5;
}
.marked-list a:hover {
  color: #777777;
}

.contact-list a:hover {
  color: #003d8f;
}

.contact-list2 h3 {
  color: #003d8f;
}

table {
  border: 1px solid #e5e5e5;
}
table th {
  border: 1px solid #c6d9e4;
}
table td {
  border: 1px solid #e5e5e5;
}
table tr:nth-child(even) {
  background: whitesmoke;
}

.info-box {
  background: #003d8f;
}

.info dt {
  color: #777777;
}

header a[href^="callto:"] {
  color: #777777;
}
header a[href^="callto:"]:before {
  color: #007dca;
}

main p + a[href^="mailto:"] {
  color: #003d8f;
}

footer {
  background: whitesmoke;
}
footer section + section .container {
  border-top: 1px solid #e5e5e5;
}

.sf-menu > li > a {
  color: #003d8f;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  background: #003d8f;
  border-right: 1px solid #065b92;
}
.sf-menu > li.active > a {
  background: #003d8f;
  border-right: 1px solid #065b92;
}

.sf-menu ul > li > a {
  color: #003d8f;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #777777;
}

.sf-menu > li > ul > li > .sf-with-ul:before {
  color: #003d8f;
}

.toTop {
  background: #888;
}
.toTop:hover {
  background: #003d8f;
}
a[href^="callto:"]:hover {
  color: #003d8f;
}

@media (min-width: 768px) and (max-width: 979px) {
.sf-menu > li > a {
  font-size: 81%;
}
.sf-menu > li.active > a {
  font-size: 81%;
}

}